body {
	font-family: 'Megrim', cursive;
	padding: 20px;
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}

h1 {
	font-family: 'Megrim', cursive;
	font-size: 72px;
}

.NavBar {
	margin-bottom: 20px
}

div {
	font-family: 'Raleway', sans-serif;
}