body {
	font-family: 'Megrim', cursive;
	text-align: center;
	padding: 10px;
	background-color: rgb(218, 218, 218);
	text-shadow: 2px 2px 3px rgba(170, 211, 237, 0.69);
}

@media only screen and (max-width: 500px) {
img {
	width: 250px;
}

}
@media only screen and (max-width: 450px) {
.AB {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(82, 108, 124);
	font-size: 32px;
	display: none;
}

.period {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(166, 186, 197);
	font-size: 50px;
}

.solutely {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(72, 179, 236);
	font-size: 32px;
}
}

.AB {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(82, 108, 124);
	font-size: 72px;
}

.period {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(166, 186, 197);
	font-size: 100px;
}

.solutely {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: rgb(72, 179, 236);
	font-size: 72px;
}

.NavBar {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	color: rgb(72, 179, 236);
}

input:focus, textarea:focus {
	background   : rgba(33, 177, 221, 0.541);
	border-radius: 5px;
	outline      : none;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

input, textarea {
	background   : rgba(189, 189, 189, 0.1);
	border-radius: 5px;
	outline      : none;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

a, button {
	margin: 0 5px;
	cursor: pointer;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

li {
	list-style: none;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 40px;
}

div {
	font-family: 'Raleway', sans-serif;
	color: rgb(82, 108, 124);
}

h2 {
	font-size: 45px;
	text-shadow: 2px 2px 3px rgba(170, 211, 237, 0.69);
}

.planitem {
	margin-right: 20px;
}

.loginBtn {
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.typeA {
	font-family: 'Megrim';
	width: 250px;
}

.typeB {
	font-family: 'Megrim';
	width: 250px;
}

.editProBtn {
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.makePlanBtn {
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.editPlanBtn{
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.deletePlanBtn {
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	width: 125px;
	text-align: center;
}

.editBtn{
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.deleteBtn {
	font-family: 'Raleway', sans-serif;
	width: 250px;
}

.homeBtn {
	color: rgb(72, 179, 236);
	width: 125px;
	margin-right: 25px;
}

.navProBtn {
	margin-right: 25px;
}

.navLogInBtn {
	margin-right: 25px;
}